<!--
  This will be the about page for info on Polycloud.
-->
<!DOCTYPE html>
<html>
	<head>
		<title>Polycloud</title>
		<link rel="stylesheet preconnect prefetch" type="text/css" href="https://flightlib.foxglovedev.repl.co/library/raw/main.css">
		<link rel="stylesheet" href="ripple.min.css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
			<link rel="stylesheet" href="theme-light.css" />
		<script src="https://unpkg.com/feather-icons"></script>
		<script src="js/menu.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="js/ripple.min.js"></script>		
		<script src="https://unpkg.com/feather-icons"></script>
		<script src="https://cdn.jsdelivr.net/npm/resumablejs@1.1.0/resumable.min.js"></script>
	</head>
	<body id="body">
		<nav id="navbar" class="nav">
			<a><img id="icon" class="brand" rel="preconnect prefetch" src="images/logo.png" draggable="false" ></img></a>
			<!--<div class="nav-item" style="cursor: pointer;">
				<a>Download</a>
			</div>-->
			<div class="nav-item" id="login" style="cursor: pointer; position: absolute; right: 0px; margin-left: 10px; margin-right: 10px;">
				<div class="dropdown">
						<div id="displayname" class="avatar" onclick="toggle_username_area()" style='height: 40px; width: 40px; background-image: url("images/avatar.png");'></div>
            <a id="displayname2" onclick="toggle_username_area()"><%= locals.username %></a>
            <div class="dropdown-content" id="dropdown-content">
              <a onclick="logout()">Logout</a>
              <a id="app">Dashboard</a>
							<a id="settings">Settings</a>
            </div>
          </div>
			</div>
      <div class="nav-item">
        <a style="background: --primary; color: --secondary" id="new">Upload File</a>
      </div>
      <div class="nav-item">
        <a style="background: --primary; color: --secondary" href="/files/new">Create File</a>
      </div>
		</nav>
		<div id="load" class="progress">
			<div class="indeterminate" style="background-color: rgb(97,33,255);">
			</div>
		</div>
		<div id="content">
			<!-- items here are overwritten by ajax -->
		</div>
	</body>
	<script>
		function init(){
			$.ripple("button", {
				debug: false, // Turn Ripple.js logging on/off
				on: 'mousedown', // The event to trigger a ripple effect

				opacity: 0.4, // The opacity of the ripple
				color: "auto", // Set the background color. If set to "auto", it will use the text color
				multi: false, // Allow multiple ripples per element

				duration: 0.7, // The duration of the ripple

				// Filter function for modifying the speed of the ripple
				rate: function(pxPerSecond) {
							return pxPerSecond;
					},

				easing: 'linear' // The CSS3 easing function of the ripple
			});

			feather.replace()
			console.log("ripple reinit...")
		}

		init()
	</script>

</html>