<style>
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
  *{
    font-family: 'Quicksand';
  }
</style>
<div class="form-group">
  <label style="color: --primary;" for="filename">File name</label>
  <input value="<%= file.filename %>" required type="text" name="filename" id="filename" class="form-control">
</div>
<div class="form-group">
  <label style="color: --primary;" for="filevalue">File value</label>
  <textarea required type="text" name="filevalue" id="filevalue" class="form-control"><%= file.filevalue %></textarea>
</div>

<button class="btn btn-success" type="submit">Save</button>
<a href="/" class="button btn btn-danger">Cancel</a>