<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<center style="padding: 3em; background: rgb(97,33,255); background: linear-gradient(180deg, rgba(97,33,255,1) 0%, rgba(129,33,255,1) 100%); color: #eee;">
	<h2>Dashboard</h2>
	<p>Welcome back! Here you can manage your files.</p>
</center>
<svg xmlns="http://www.w3.org/2000/svg" style="width: 100%; background: rgba(129,33,255,1);" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,128L80,149.3C160,171,320,213,480,213.3C640,213,800,171,960,160C1120,149,1280,171,1360,181.3L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>

<div class="main">
  <% files.forEach( file => { %>
    <div>
      <b><%= file.filename %></b>
      <p style="word-wrap: normal;">
        <%= file.filevalue %>
      </p>
    </div>
    <p>
      <button>Delete File</button>
      <br>
      <button>Edit File</button>
    </p>
    <br>
    <br>
  <% }) %>
</div>