<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">


<div class="main" style="max-width: 100%; width: 100%; min-height: calc(100vh - 50px);">
  <% files.forEach( file => { %>
    <div class="card" style="padding: 1em; width: 300px; margin: 15px; float: left;">
			<div style="height: 200px; background: #eee; margin-bottom: 10px; border-radius: 4px;">
			</div>
      <!--<a href="files/edit/<%= file.id %>" class="btn btn-info">Edit</a>-->
			<div style="bottom: 0;">
				<p><%= file.filename %></p> <em><%= file.filesize %></em>
				<button style="width: 100px;" class="button" onclick="window.location = '/files/edit/<%= file.id %>'"><i data-feather="edit-2"></i></button>
				<button class="button" onclick="window.open('/files/<%= file.id %>', '_blank')"><i data-feather="eye"></i></button>
        <button class="button" onclick="window.open('/files/download/<%= file.id %>')"><i data-feather="download"></i></button>
        <form class="d-inline" action="/files/<%= file.id %>?_method=DELETE" method="POST" style="display: inline-block;">
          <button type="submit" class="button-primary"><i data-feather="trash"></i></button>
        </form>
			</div>
    </div>
  <% }) %>
</div>