<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<div style="height: calc(100vh - 35px); max-height: 400px; background-color: var(--primary); padding: 2em; color: #eee; overflow: hidden; border-radius: 15px;">
	<div id="carousel1">
		<h1>Generous Storage</h1>
		<p>We are the only Storage Solution which offers infinate stoage forever free.</p>
	</div>
	<div id="carousel2">
		<h1>Privacy respecting</h1>
		<p>We do not collect any personal information through any means.</p>
	</div>
	<div id="carousel3">
		<h1>Fast</h1>
		<p>We have optimised our service so that you can upload your files quickly.</p>
	</div>
	<div id="carousel4">
		<h1>Secure</h1>
		<p>No one can access your files but you.</p>
	</div>
</div>
</div>
<div class="main">
  <style>
		/* hex = #rrggbb, rgb(255,255,255), rgba(255,255,255,1) */
    a:visited{
      color: var(--primary);/* = rgba(255, 255, 255, 1); or #fff */
    }
    a{
      color: var(--primary);
      text-decoration: none;
    }
  </style>
	<center width="100%">
		<div style="display: inline-block">
		<h1>Features</h1>
			<div class="card hover item" style="padding-left: 1em; padding-right: 1em; margin-bottom: 20px; padding-bottom: 1em" id="card">
				<h3 class="noselect">Fast</h3>
				<p class="noselect">Our service has been tailored to work as fast as possible at storing your files in the cloud so that you can access them remotely from anywhere.</p>
				<div class="noselect">
					<button class="button-primary" onclick="join()" style="position: absolute; bottom: 1em; left: 1em; width: calc(100% - 2em)">Get started</button>
				</div>
			</div>
			<div class="card hover item" style="padding-left: 1em; padding-right: 1em; margin-bottom: 20px; padding-bottom: 1em" id="card">
				<h3 class="noselect">Powerful Security</h3>
				<p class="noselect">Our service uses Industrial standard protection provided by <a href="https://sqreen.com" target="_blank">Sqreen</a> to protect your files from unwanted visitors.</p>
				<div class="noselect">
					<button class="button-primary" onclick="join()" style="position: absolute; bottom: 1em; left: 1em; width: calc(100% - 2em);">Be protected</button>
				</div>
			</div>
			<div class="card hover item" style="padding-left: 1em; padding-right: 1em; margin-bottom: 20px; padding-bottom: 1em" id="card">
				<h3 class="noselect">Mobile friendly</h3>
				<p class="noselect">Our service has been tested repeatedly to allow mobile users to easily use our website without any issues.</p>
				<div class="noselect">
          <!-- so where is the line? -->
					<button class="button-primary" onclick="join()" style="position: absolute; bottom: 1em; left: 1em; width: calc(100% - 2em);">Try it out</button>
				</div>
			
			</div>
		  	<div class="card hover item" style="padding-left: 1em; padding-right: 1em; margin-bottom: 20px; padding-bottom: 1em" id="card">
				<h3 class="noselect">Great Community</h3>
				<p class="noselect">We have a great community on Discord and you can report bugs and hang out.</p>
				<div class="noselect">
          <!-- so where is the line? -->
					<button class="button-primary" onclick="window.location.href='https://discord.gg/eGDMGhbFfK'" style="position: absolute; bottom: 1em; left: 1em; width: calc(100% - 2em);">Join the conversation</button>
				</div>
		</div>
	</center>
</div>


<script>
function run() {
	a = document.getElementById("carousel1");
  a.style="display: block;"
	a = document.getElementById("carousel2");
  a.style="display: none;"
	a = document.getElementById("carousel3");
  a.style="display: none;"
	a = document.getElementById("carousel4");
  a.style="display: none;"

  setTimeout(function () {
		a = document.getElementById("carousel1");
    a.style="display: none;"
		a = document.getElementById("carousel2");
    a.style="display: block;"
  }, 5000);
	setTimeout(function () {
		a = document.getElementById("carousel3");
    a.style="display: block;"
		a = document.getElementById("carousel2");
    a.style="display: none;"
  }, 10000);
	setTimeout(function () {
		a = document.getElementById("carousel4");
    a.style="display: block;"
		a = document.getElementById("carousel3");
    a.style="display: none;"
  }, 15000);
	setTimeout(function () {
		a = document.getElementById("carousel1");
    a.style="display: block;"
		a = document.getElementById("carousel2");
    a.style="display: none;"
  }, 20000);
}
run()
setInterval(run, 20000);
</script>
