<!DOCTYPE html>
<html>
  <head>
    		<link rel="stylesheet preconnect prefetch" type="text/css" href="https://flightlib.foxglovedev.repl.co/library/raw/main.css">
		<link rel="stylesheet" href="ripple.min.css"/>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
		<link rel="stylesheet" href="theme-light.css" />
		<script src="https://unpkg.com/feather-icons"></script>
		<script src="js/menu.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="js/ripple.min.js"></script>		
		<script src="https://unpkg.com/feather-icons"></script>
		<script src="https://cdn.jsdelivr.net/npm/resumablejs@1.1.0/resumable.min.js"></script>
		<% if(locals.username) { %>
		<script>
			onload = ()=>{
				$(document).ready(function(){
					$(document).ajaxStart(function(){
						$("#load").css("display", "block");
					});

					$(document).ajaxComplete(function(){
						$("#load").css("display", "none");
						init()
					});
					$("#icon").click(function(){
						$("#content").load("files");
					});
					$("#downloads").click(function(){
						$("#content").load("app/downloads");
					});
					$("#app").click(function(){
						$("#content").load("files");
					});
					$("#settings").click(function(){
						$("#content").load("app/options");
					});
					$("#new").click(function(){
						$("#content").load("app/upload");
					});
					$("#content").load("files");
				});
			}
			</script>
			<% } else { %>
			<script>
			onload = ()=>{
				$(document).ready(function(){
					$(document).ajaxStart(function(){
						$("#load").css("display", "block");
					});

					$(document).ajaxComplete(function(){
						$("#load").css("display", "none");
						init()
					});
					$("#icon").click(function(){
						$("#content").load("app/index");
					});
					$("#downloads").click(function(){
						$("#content").load("app/downloads");
					});

					$("#content").load("app/index");
				});
			}
			</script>
			<% } %>
	</head>
	<body id="body">
		<nav id="navbar" class="nav">
			<a><img id="icon" class="brand" rel="preconnect prefetch" src="images/logo.png" draggable="false" ></img></a>
			<div class="nav-item" style="cursor: pointer;">
				<a>Download</a>
			</div>
			<% if(locals.username) { %>
			<div class="nav-item" style="cursor: pointer; position: absolute; right: 0px; margin-left: 10px; margin-right: 10px;">
				<button id="new" class="button-primary" style="width: 100px;">Upload</button>
				<div class="dropdown">
						<div id="displayname" class="avatar" onclick="toggle_username_area()" style='height: 40px; width: 40px; background-image: url("images/avatar.png");'></div>
            <div class="dropdown-content" id="dropdown-content">
							<a id="displayname2" style="color: #6121ff;"><%= locals.username %></a>
              <a id="app">Dashboard</a>
							<a href="settings.html"; id="settings">Settings</a>
							<a onclick="logout()">Logout</a>
            </div>
          </div>
			</div>
			<% } else { %>
				<div class="nav-item" id="login"  style="cursor: pointer; position: absolute; right: 0px; margin-left: 10px; margin-right: 10px;">
					<script authed="window.location = '/'" src="js/auth.js" async></script> <!-- window.location = '/dashboard' -->
				</div>
			<% } %>
		</nav>
		<div id="load" class="progress">
			<div class="indeterminate" style="background-color: rgb(97,33,255);">
			</div>
		</div>
		<div id="content">
			<!-- items here are overwritten by ajax -->
		</div>
    </body>
	<script>
		function init(){
			$.ripple("button", {
				debug: false, // Turn Ripple.js logging on/off
				on: 'mousedown', // The event to trigger a ripple effect

				opacity: 0.4, // The opacity of the ripple
				color: "auto", // Set the background color. If set to "auto", it will use the text color
				multi: false, // Allow multiple ripples per element

				duration: 0.7, // The duration of the ripple

				// Filter function for modifying the speed of the ripple
				rate: function(pxPerSecond) {
							return pxPerSecond;
					},

				easing: 'linear' // The CSS3 easing function of the ripple
			});

			feather.replace()
			console.log("ripple reinit...")
		}

		init()
	</script>

  <h1> Hey there! Thank you for your interest! This page is a work in progress.</h1>
<head>
<style>
a:link, a:visited {
  background-color: #6600FF;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:5px;
  poition: absolute;
}

a:hover, a:active {
  background-color: #a169f5;
}
</style>
</head>
<body>
<a href="views/app/dashboard.html">Return To Dashboard</a>
  </head>
  </html>