<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.1/marked.min.js" integrity="sha512-KCyhJjC9VsBYne93226gCA0Lb+VlrngllQqeCmX+HxBBHTC4HX2FYgEc6jT0oXYrLgvfglK49ktTTc0KVC1+gQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet preconnect prefetch" type="text/css" href="https://flightlib.foxglovedev.repl.co/library/raw/main.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
    *{
      font-family: 'Quicksand';
    }
    h3{
      font-size: 30px;
    }
    pre{
      wor-wrap: none;
      font-family: 'Source Code Pro', monospace;
    }
  </style>
  <title>Preview File</title>
</head>
<body>
<div class="nav">
  <h1 class="navitem">Preview file</h1>
</div>
  <div>
    <% if(filename.endsWith('.md')){ %>
      <h3><%= filename %></h3>
      <pre><%= filevalue %></pre>  
      Preview:
      <pre>
        <%- marked %>
      </pre>
    <% }else if(filename.endsWith('.png')){ %>
      <h3><%= filename %></h3>
      Preview:
      <br>
      <img src="./../data/storage/<%= filename %>" alt="<%= filename %>">
    <% }else{ %>
      <h3><%= filename %></h3>
      <pre><%= filevalue %></pre>
    <% } %>
  </div>
</body>
</html>