<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<div class="main">
  <style>
		/* hex = #rrggbb, rgb(255,255,255), rgba(255,255,255,1) */
    a:visited{
      color: var(--primary);/* = rgba(255, 255, 255, 1); or #fff */
    }
    a{
      color: var(--primary);
      text-decoration: none;
    }
    #dropTarget{
      cursor: pointer;
    }
  </style>
  <!--<form action="/files/uploadfile" enctype="multipart/form-data" method="post">
    <input type="file" name="filename">
    <input type="submit" value="Upload">
  </form>-->
<form id="uploader" method="post" enctype="multipart/form-data" action="/files/uploadfile">
  <input type="file" name="filename">
  <input type="submit" value="Upload">
</form>
	<!--<div id="dropTarget" class="card" style="position: relative;">
		<center>
			<p id="test">Upload here, or click to browse</p>
		</center>
		<div class="progress" style="max-width: 100%; width: 100%; position: absolute; left: 0; bottom: 0;">
			<div id="bar" class="determinate" style="background-color: rgb(97,33,255); --progress: 0%;">
			</div>
		</div>
	</div>
	<div id="text"></div>-->
	<script>
		var r = new Resumable({
		  target:'/files/uploadfile', 
			simultaneousUploads: 1
		});

		// Resumable.js isn't supported, fall back on a different method
		
		if (!r.support) {
			document.getElementById('test').innerText = "Upload not supported!";
		}
		
		r.on('uploadStart', function () {
      document.getElementById('test').innerText = "Uploading...";
    });
    r.on('complete', function () {
      document.getElementById('test').innerText = "Done!";
			document.getElementById("bar").style = "--progress: 100%;"
			setTimeout(() => {
				amount = 0
				document.getElementById('test').innerText = "Upload here or click to browse";
				document.getElementById("bar").style = "--progress: "+amount+"%;"
			}, 2000);
    });
		r.on('fileAdded', function(file){
      r.upload();
    });

		r.on('progress', function(){
      amount = (r.progress()*100);
			document.getElementById('test').innerText = "Uploading "+Math.round(amount)+"%...";
			document.getElementById("bar").style = "--progress: "+amount+"%;"
    });

		r.assignDrop(document.getElementById('dropTarget'));
		r.assignBrowse(document.getElementById('dropTarget'));
	</script>
</div>